body {
  background-color: rgb(41, 41, 41);
}
canvas {
  background-color: rgb(27, 27, 27);
}
button {
  text-align: center;
  width: 200px;
  height: 50px;
}

@media (max-width: 500px) {
    canvas {
        width: 100%;
        height: auto;
}
}